mongodb+srv://joegrefmakia_db_user:<db_password>@mercappcluster.4bilcy9.mongodb.net/?appName=MercAppClustermongodb+srv://joegrefmakia_db_user:<db_password>@mercappcluster.4bilcy9.mongodb.net/?appName=MercAppCluster 